<%#-*- coding: UTF-8 -*- %>
<div id="header">
  <%== erubis :"header/_header",
              :layout => false %>
</div>
<div id="contents_top">
  <!-- 社内用の仮ページなのでHTMLが適当ですひどいですすいません -->
  <p>
    駅すぱあとイントラネット互換インターフェースのテストサイトです。<br />
    Ver2のCGIインターフェースにつきましても、基本的に現行の支援サイトと同等に利用することができます。<br />
    上部のメニューからCGIを選択してご利用ください。
  </p>
  <p><b>主な機能の説明</b></p>
  <dl>
    <dt><b>ヘッダ</b></dt>
    <dd>
      目的のCGIインターフェースのパラメータ入力画面に遷移します。<br /><br />
    </dd>
    <dt><b>実行サーバ指定機能(社内運用のみ)</b></dt>
    <dd>
      処理を実行するサーバを指定します。<br />
      セレクトボックスを切り替えると、各バージョンのリリースマスター等を利用することができます。<br />
      <b><font color="red">(New!)</font></b>サーバのURLを直接指定できるようにしました(テキストボックスの指定はセレクトボックスに優先します)。<br /><br />
    </dd>
    <dt><b>パラメータ代入機能(社内運用のみ)</b></dt>
    <dd>
      URLに与えられるパラメータ文字列の形式でフォームに代入を行います。<br />
      <b><font color="red">(New!)</font></b>ユーザーパラメータも代入できるようになりました。<br />
      <b><font color="blue">(Change)</font></b>自動的に実行しないように変更しました。<br /><br />
    </dd>
    <dt><b>履歴機能</b></dt>
    <dd>
      前に実行したパラメータを10件まで記録し、すぐに利用することができます。<br />
      <b><font color="red">(New!)</font></b>ユーザーパラメータも記録されるようになりました。<br />
      <b><font color="blue">(Change)</font></b>1件前と同じパラメータで実行した場合、履歴には追加されないようになりました。<br /><br />
    </dd>
    <dt><b>パラメータ入力欄</b></dt>
    <dd>
      利用するパラメータの値を代入します。<br />
      <b><font color="blue">(Change)</font></b>マニュアルのカテゴリーに準拠した順番で表示するようになりました。<br /><br />
    </dd>
    <dt><b>出力パラメータ一覧(実行後の画面)</b></dt>
    <dd>
      CGIインターフェースの実行結果を表示します。<br />
      <b><font color="red">(New!)</font></b>経路番号が同じパラメータなどの関連性が視覚的に分かりやすくなりました。<br />
      <b><font color="blue">(Change)</font></b>全パラメータを1ページ内に全て表示するようにしました。<br /><br />
    </dd>
    <dt><b>フッタ</b></dt>
    <dd>
      <b><font color="red">(New!)</font></b>各カテゴリーにスクロールします。出力画面の場合は、各経路の先頭にスクロールします。<br />
    </dd>
  </dl>
  <p>
    なお、テスト運用中につき随時機能やレイアウトに変更を加える場合があります。<br />
    (現在IE7におけるレイアウトのバグをいくつか確認していますので、随時修正いたします)
  </p>
  <p>動作確認につきましては、以下のブラウザで行っています。</p>
  <table>
    <tr>
      <th>ブラウザ</th>
      <th>対応</th>
    </tr>
    <tr>
      <th>Internet Explorer 9</th>
      <th>○</th>
    </tr>
    <tr>
      <th>Internet Explorer 8</th>
      <th>○</th>
    </tr>
    <tr>
      <th>Internet Explorer 7</th>
      <th>△</th>
    </tr>
    <tr>
      <th>Firefox(最新版)</th>
      <th>○</th>
    </tr>
    <tr>
      <th>Google Chrome(最新版)</th>
      <th>○</th>
    </tr>
  </table>
  <p>
    ※IE7では履歴機能は使用できません。<br />
    ※IE6は非対応です。
  </p>
  <p><a href="http://docs.ekispert.com/compatible/index.html">イントラ互換IFドキュメント(本番公開)</a></p>
</div>
