<%#-*- coding: UTF-8 -*- %>
<%
  # arguments:  comment -> 表示する文字列
  #             index   -> グループの通し番号
%>
<tr>
  <td id="group_<%= index %>" class="group_title_row" colspan="3"><%= comment %></td>
</tr>
