<%#-*- coding: UTF-8 -*- %>
<%
  # arguments:  route_string -> 経路文字列
%>
<table id="output_summary_table">
  <tr>
    <th class="route_str_col">経路</th>
  </tr>
  <tr>
    <td class="route_str_col"><%= route_string %></td>
  </tr>
</table>
